<!doctype html>
<title>{% block title %}{% endblock %} - Mealfeels</title>

<meta charset="UTF-8" />
<meta name="description" content="Meal and habit tracker" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta property="og:title" content="Mealfeels">
<meta property="og:image" content="https://mealfeels.com/static/mealfeels-og.png">
<meta property="og:type" content="website">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

{% if config.LOCAL_DEV %}
<script src="http://localhost:5500/static/livereload.js" async="" defer=""></script>
{% endif %}

<nav>
  <h1><a href="{{ url_for('index') }}">Mealfeels</a></h1>
  <ul>
    {% if g.phone %}
      <li><span>{{ g.phone['phone'] }}</span>
      <li><a href="{{ url_for('home.symptoms') }}">Symptoms</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a id="start-tracking" href="{{ url_for('auth.login') }}">Start Tracking</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
{% block footer %}{% endblock %}
