{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}An SMS-based Meal Tracker{% endblock %}</h2>
{% endblock %}

{% block content %}
  <div id="index">
    The easiest way to track symptoms for chronic health issues:
    <br>
    <b>just send a text.</b>
    <br><br>
    <div id="demo-container">
             <img id="sms-demo" src="{{ url_for('static', filename='sms_demo.gif') }}">
             <img id="iphone-frame" src="{{ url_for('static', filename='iphone_frame.png') }}">
    </div>
    <br><br>
    Correlate meals and other habits with spikes in your symptoms.
    <br>
    Learn how to optimize your quality of life.
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
